h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  margin: 0 auto;
  max-width: 360px; }
  @media (min-width: 361px) {
    body {
      max-width: 100%; } }

.non-visible {
  display: none !important; }

.toggle {
  -webkit-transition: display 1s;
  transition: display 1s; }

.header {
  display: grid;
  grid-template-areas: "call logo menu" "title title title";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  height: 568px;
  background: url(./../images/header.jpg);
  background-position-x: center;
  background-size: cover; }
  .header .header__call {
    grid-area: call;
    background: url(../images/call.png) no-repeat;
    width: 18px;
    height: 18px; }
    .header .header__call .header__call-number {
      display: none; }
  .header .header__logo {
    grid-area: logo;
    background: url(../images/logoMob.svg) no-repeat;
    width: 73px;
    height: 48px; }
  .header .header__nav-btn--open {
    grid-area: menu;
    background: url(../images/Vector.svg) no-repeat;
    width: 18px;
    height: 12px; }
  .header .header__title {
    position: relative;
    grid-area: title;
    font-size: 46px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    margin: 335px 35px 80px 20px; }
  .header .header__title::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    bottom: 88px;
    left: 2px;
    background: #fff;
    border-radius: 5px; }

.showMenu {
  display: grid; }

.header__nav {
  display: grid;
  height: 568px;
  background: #0075ff;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold; }
  .header__nav .nav-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: end; }
    .header__nav .nav-wrapper .header__logo {
      background: url(../images/logoMob.svg) no-repeat;
      width: 73px;
      height: 48px; }
    .header__nav .nav-wrapper .header__nav-btn--close {
      background: url(../images/closeBtn.png);
      width: 15px;
      height: 15px;
      margin-right: 23px; }
  .header__nav .header__nav-list {
    padding: 0; }
    .header__nav .header__nav-list .header__nav-item {
      list-style: none;
      font-weight: bold;
      font-size: 22px;
      margin-left: 0;
      margin-bottom: 32px; }
      .header__nav .header__nav-list .header__nav-item .header__nav-link {
        color: #fff;
        text-decoration: none; }
  .header__nav .phone-num,
  .header__nav .call-to-order {
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #faf8f8; }
  .header__nav .phone-num {
    border-bottom: none; }

.header-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(./../images/header.jpg);
  background-position-x: center;
  background-size: cover; }
  .header-desktop__wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto; }
    .header-desktop__wrapper .header-desctop__top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-desktop__wrapper .header-desctop__top .header__logo {
        grid-area: logo;
        background: url(../images/logoMob.svg) no-repeat;
        background-size: cover;
        width: 115px;
        height: 76px; }
      .header-desktop__wrapper .header-desctop__top .phone-num,
      .header-desktop__wrapper .header-desctop__top .call-to-order {
        color: #fff;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 25px;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 10px;
        border-bottom: 1px solid #faf8f8; }
      .header-desktop__wrapper .header-desctop__top .phone-num {
        border-bottom: none; }
    .header-desktop__wrapper .header__title {
      position: relative;
      grid-area: title;
      font-size: 46px;
      line-height: 40px;
      font-weight: bold;
      color: #fff;
      font-size: 60px;
      line-height: 60px;
      margin: 335px 0 80px; }
    .header-desktop__wrapper .header__title::before {
      content: "";
      position: absolute;
      width: 31px;
      height: 3px;
      bottom: 127px;
      left: 2px;
      background: #fff;
      border-radius: 5px; }
    .header-desktop__wrapper .header__nav-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #fff;
      text-transform: uppercase;
      list-style: none;
      padding: 0;
      font-size: 12px;
      font-weight: bold; }
      .header-desktop__wrapper .header__nav-list .header__nav-item {
        padding: 8px 24px; }
        .header-desktop__wrapper .header__nav-list .header__nav-item--active {
          background-color: #575656;
          border-radius: 8px;
          color: #fff; }
        .header-desktop__wrapper .header__nav-list .header__nav-item .header__nav-link {
          color: #fff;
          text-decoration: none;
          letter-spacing: 2px;
          -webkit-transition: color 0.3s;
          transition: color 0.3s; }
          .header-desktop__wrapper .header__nav-list .header__nav-item .header__nav-link:hover {
            cursor: pointer;
            color: #979595; }

@media (min-width: 600px) {
  .header,
  .header__nav {
    display: none; }
  .header-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 600px) {
  .header,
  .header__nav {
    display: grid; }
  .header-desktop {
    display: none; } }

@media (max-width: 1200px) {
  .header-desktop__wrapper .header-desctop__top {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .header-desktop__wrapper .header__title {
    text-align: center; }
  .header-desktop__wrapper .header__title::before {
    width: 0; }
  .header-desktop__wrapper .header__nav-list .header__nav-item {
    padding: 6px; }
  .header-desktop__wrapper .header__nav-list .header__nav-item--active {
    margin-left: 20px; } }

.content {
  padding: 64px 20px; }
  .content__title {
    font-weight: bold;
    line-height: 36px;
    font-size: 36px;
    color: #000; }
  .content__title-link {
    color: #0075ff;
    text-decoration: none; }
  .content__title-link:hover {
    text-decoration: underline; }
  .content__second-title {
    color: #0075ff;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px; }
  .content__text {
    font-size: 16px;
    line-height: 27px; }
  .content__text--bold {
    font-weight: bold; }

@media (min-width: 600px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto; }
    .content .title-wrapper {
      max-width: 330px; }
    .content .text-wrapper {
      max-width: 500px; } }

.gallery {
  display: grid;
  justify-items: center;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr; }
  .gallery__title {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 36px;
    font-weight: bold; }
  .gallery .foto1 {
    grid-area: 2 / 1 / 3 / 2;
    background: url(../images/photos/1.jpg) no-repeat;
    background-size: cover; }
  .gallery .foto2 {
    grid-area: 2 / 2 / 3 / 3;
    background: url(../images/photos/2.jpg) no-repeat;
    background-size: cover; }
  .gallery .foto-title1 {
    grid-area: 3 / 1 / 4 / 3; }
  .gallery .foto3 {
    grid-area: 4 / 1 / 5 / 2;
    background: url(../images/photos/3.jpg) no-repeat;
    background-size: cover; }
  .gallery .foto4 {
    grid-area: 4 / 2 / 5 / 3;
    background: url(../images/photos/4.jpg) no-repeat;
    background-size: cover; }
  .gallery .foto-title2 {
    grid-area: 5 / 1 / 6 / 3; }
  .gallery .foto5 {
    grid-area: 6 / 1 / 7 / 2;
    background: url(../images/photos/5.jpg) no-repeat;
    background-size: cover; }
  .gallery .foto6 {
    grid-area: auto;
    background: url(../images/photos/6.jpg) no-repeat;
    background-size: cover; }
  .gallery .foto-title3 {
    grid-area: 7 / 1 / 8 / 3; }
  .gallery .foto-wrapper {
    width: 70%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .gallery .foto-wrapper:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  .gallery .foto-title {
    margin-left: 20px;
    color: #0075ff;
    font-size: 16px; }
    .gallery .foto-title .foto-description {
      color: #3e3e3e; }

.viev-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #0075ff;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  background: #fff;
  color: #0075ff;
  width: 97%;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s; }

.viev-all:hover {
  cursor: pointer;
  background-color: #0075ff;
  color: #fff; }

@media (min-width: 1120px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    justify-items: flex-start;
    margin: 0 auto;
    max-width: 1100px;
    grid-column-gap: 40px; }
    .gallery__title {
      grid-area: 1 / 1 / 2 / 5; }
    .gallery .foto-wrapper {
      width: 100%;
      height: 256px; }
    .gallery .foto1 {
      grid-area: 2 / 1 / 3 / 4;
      background: url(../images/photos/1.jpg) no-repeat;
      background-size: cover; }
    .gallery .foto2 {
      grid-area: 2 / 4 /3 / 5;
      background: url(../images/photos/2.jpg) no-repeat;
      background-size: cover; }
    .gallery .foto-title1 {
      grid-area: 3 / 1 / 4 / 5; }
    .gallery .foto3 {
      grid-area: 4 / 1 / 5 / 3;
      background: url(../images/photos/3.jpg) no-repeat;
      background-size: cover; }
    .gallery .foto4 {
      grid-area: 4 / 3 / 5 / 5;
      background: url(../images/photos/4.jpg) no-repeat;
      background-size: cover; }
    .gallery .foto-title2 {
      grid-area: 5 / 1 / 6 / 5; }
    .gallery .foto5 {
      grid-area: 6 / 1 / 7 / 2;
      background: url(../images/photos/5.jpg) no-repeat;
      background-size: cover; }
    .gallery .foto6 {
      grid-area: 6 / 2 / 7 / 5;
      background: url(../images/photos/6.jpg) no-repeat;
      background-size: cover; }
    .gallery .foto-title3 {
      grid-area: 7 / 1 / 8 / 5; } }

@media (min-width: 550px) {
  .gallery .foto-wrapper {
    height: 200px; } }

.consultation {
  margin: 0 auto;
  padding: 20px; }
  .consultation .viev-all {
    cursor: pointer;
    max-width: 200px; }
  .consultation__title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin: 30px; }
  .consultation__question {
    font-weight: bold;
    font-size: 24px;
    color: #0075ff; }
  .consultation .input {
    width: 90%;
    border-radius: 8px;
    background: #f7f8ff;
    padding: 17px;
    outline: none;
    border: 1px solid #fff;
    margin-bottom: 16px; }
  .consultation .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .consultation .input::-moz-placeholder {
    color: #b9c1ce; }
  .consultation .input:-ms-input-placeholder {
    color: #b9c1ce; }
  .consultation .input::-ms-input-placeholder {
    color: #b9c1ce; }
  .consultation .input::placeholder {
    color: #b9c1ce; }
  .consultation .input:focus {
    -webkit-box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19);
            box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19); }
  .consultation__btn {
    background: #0075ff;
    color: #fff;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s; }
  .consultation__btn:hover {
    background-color: #fff;
    color: #0075ff; }

.btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
  border: 2px solid #0075ff;
  font-weight: bold;
  font-size: 16px;
  padding: 20px 116px; }

@media (min-width: 700px) {
  .consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto; }
    .consultation .consultation__wrapper--left,
    .consultation .consultation__wrapper--right {
      max-width: 415px; }
  .btn {
    width: 98%;
    padding: 10px 50px;
    margin: 0; }
  .viev-all {
    max-width: 200px;
    margin: 0 auto; } }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px; }
  .testimonials__title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px; }
  .testimonials .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .testimonials .block__img {
    width: 153px;
    height: 153px;
    border-radius: 50%; }
  .testimonials .block1__img {
    background: url(../images/photos/Ellipse1.png); }
  .testimonials .block2__img {
    background: url(../images/photos/Ellipse2.png); }
  .testimonials .block3__img {
    background: url(../images/photos/Ellipse3.png); }
  .testimonials .block__title {
    color: #0075ff;
    font-weight: bold;
    font-size: 24px; }
  .testimonials .block__profession {
    color: #9fadc2;
    font-size: 14px; }
  .testimonials .block__review {
    max-width: 280px;
    text-align: center;
    color: #3e3e3e;
    font-size: 16px; }

@media (min-width: 860px) {
  .testimonials-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1100px;
    margin: 0 auto; } }

.contacts {
  padding: 20px; }
  .contacts__title {
    font-weight: bold;
    font-size: 36px;
    text-align: center; }
  .contacts__contact {
    color: #9fadc2;
    font-size: 14px;
    margin-bottom: 0; }
  .contacts__info {
    font-size: 16px;
    color: #3e3e3e;
    text-decoration: none;
    font-style: normal; }
  .contacts .feedback {
    margin-top: 30px; }
    .contacts .feedback .message {
      color: #b9c1ce;
      font-size: 14px; }
  .contacts .input {
    width: 90%;
    border-radius: 8px;
    background: #f7f8ff;
    padding: 17px;
    outline: none;
    border: 1px solid #fff;
    margin-bottom: 16px; }
    .contacts .input:focus {
      -webkit-box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19);
              box-shadow: 8px 8px 8px rgba(49, 59, 75, 0.19); }
    .contacts .input::-webkit-input-placeholder {
      color: #b9c1ce; }
    .contacts .input::-moz-placeholder {
      color: #b9c1ce; }
    .contacts .input:-ms-input-placeholder {
      color: #b9c1ce; }
    .contacts .input::-ms-input-placeholder {
      color: #b9c1ce; }
    .contacts .input::placeholder {
      color: #b9c1ce; }

@media (min-width: 900px) {
  .contacts {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto; }
  .wrapper-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .wrapper-all .contact-info-wrapper-left,
    .wrapper-all .contact-info-wrapper-right {
      max-width: 152px; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/footer.jpg);
  background-size: cover;
  height: 100%; }
  .footer__logo {
    background: url(../images/logoMob.svg) no-repeat;
    height: 80%;
    background-position-y: bottom;
    width: 77px; }

@media (min-width: 361px) {
  .footer {
    height: 400px; } }

/*# sourceMappingURL=main.css.map */
